[submodule "blazesym"]
	path = lib/blazesym
	url = https://github.com/libbpf/blazesym.git
[submodule "bpftool"]
	path = lib/bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "libbpf"]
	path = lib/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "vmlinux.h"]
	path = lib/vmlinux.h
	url = https://github.com/libbpf/vmlinux.h.git
